* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;

}

nav {
	background: #212121;
	height: 50px;
}


.container {
	max-width: 1140px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.label {
	width: 113px;
	height: 24px;
	background-color: black;
	color: #fff;
	text-transform: uppercase;
	margin: 0 auto;
	font-size: 11px;
	font-weight: 400;

	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 32px;
}


.label-white{
	background-color: rgb(255, 255, 255);
	color: #000;
}




.button {
	background: linear-gradient(0deg, rgb(30, 172, 199) 0%, rgb(76, 226, 255) 100%);
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
	box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset;
	transition: opacity 0.3s;
	opacity: 1;
}

.button:hover {
	opacity: 0.7;
	transition: opacity 0.3s;
}




.menu {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding: 10px 0px;
	margin: 0;
}


.menu__link {
	color: #ffffff;
	text-decoration: none;
	font-size: 15px;
	font-weight: 300;
}

.row {
	display: flex;
	color: #ffffff;
	padding-top: 15px;
	justify-content: space-between;
	padding-left: 15px;
	padding-right: 15px;

}

.subheader {
	background-color: rgba(0, 0, 0, 0.8);
	height: 90px;
}

.subheader__contact {
	display: flex;

}

.subheader__call {
	margin-right: 32px;
}


.subheader__text {
	font-size: 12px;
	font-weight: 300;
	line-height: 14px;
	text-align: right;
	margin-bottom: 10px;
}

.subheader__phone {
	font-size: 22px;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
}

.subheader__btn {
	width: 172px;
	height: 46px;
}



.promo {
	background: url('../img/uber_bg.png') center center/cover no-repeat;
	padding-bottom: 186px;
	color: #fff;
	padding-top: 67px;
}


.title {
	color: #ffffff;
	text-align: center;
}

.promo__title {
	font-size: 50px;
	font-weight: 900;
}

.promo__subtitle {
	font-size: 26px;
	font-weight: 700;
	line-height: 48px;
	margin-bottom: 16px;
}

.promo__text {
	font-size: 18px;
	color: #ffffff;
	font-weight: 400;
	margin-bottom: 20px;
	text-align: center;
}

.promo__btn {
	font-size: 18px;
	width: 211px;
	height: 63px;
	margin: 0 auto;
	display: block;
	margin-top: 116px;
}

.test__btn:hover {
	opacity: 0.7;
	transition: opacity 0.3s;
}

/* REASONS */

.reasons {
	padding-top: 20px;
	padding-bottom: 64px;
}


.reasons__items {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.reasons__row {
	display: flex;
	justify-content: space-between;
	column-gap: 15px;
}

.reasons__block {
	display: flex;
	align-items: center;
}


.reasons__round {
	min-width: 116px;
	height: 116px;
	background: #1EACC7;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 25px;
}

.reasons__descr {
	max-width: 370px;
	height: 100%;
}


.reasons__subtitle {
	font-size: 17px;
	font-weight: 400;
	line-height: 21px;
	text-align: left;
	color: #1EACC7;
	margin-bottom: 5px;

}

.reasons__text {
	font-size: 15px;
	font-weight: 300;
	line-height: 21px;
	text-align: left;
}

.reasons__row__right {

	display: flex;
	justify-content: flex-end;
}

.reasons__title {
	font-size: 38px;
	font-weight: 700;
	line-height: 48px;
	text-align: center;
	margin-bottom: 16px;
}

.mobile__title {
	font-size: 38px;
	font-weight: 700;
	line-height: 48px;
	text-align: center;
}


.mobile {
	padding-bottom: 100px;
	background: url(../img/bg.png) center center repeat;
}

.mobile__subtitle {
	font-size: 17px;
	font-weight: 400;
	line-height: 21px;
	text-align: center;
	margin-bottom: 30px;
}



.mobile__card {
	width: 320px;
	height: 280px;
	background-color: #555555;
	padding-top: 80px;
	padding-bottom: 40px;
	position: relative;

	overflow: hidden;
	/* background: url(../img/card.png) center center / cover no-repeat; */
}


.mobile__items {
	position: relative;
	z-index: 10px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.mobile__text {
	font-size: 24px;
	font-weight: 400;
	line-height: 31px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

.mobile__plus {
	min-width: 29px;
	min-height: 29px;
	border-radius: 100%;
	background: url(../img/plus.png) center center no-repeat;
	background-color: #000;
	background-size: 14px 14px;
}

.mobile__img {
	position: absolute;
	top: 0;
	left: 0;

}

.mobile__row {
	display: flex;
	column-gap: 67px;
	margin-bottom: 19px;
}



/* CHOICE */

.choice {}



.choice__black {
	background-color: #000;
	height: 500px;
	padding-top: 50px;
}


.choice__title {
	font-size: 38px;
	font-weight: 700;
	line-height: 48px;
	text-transform: uppercase;
	margin-top: 24px;
	margin-bottom: 1px;
}

.choice__subtitle {
	font-size: 17px;
	font-weight: 400;
	line-height: 21px;
	text-align: center;
}

.choice__white {
	background: #fff;
	color: #000;
	text-align: center;
	background: url(../img/bg.png) center center repeat;
	height: 400px;
	padding-bottom: 50px;
	position: relative;
}

.choice__image img {
	margin-top: -240px;
	/* position: absolute;
		top: -50%;
		left: 50%;
		transform: translateX(-50%);
		width: 760px;
		height: 480px; */
}
.choice__text{
	font-size: 17px;
	font-weight: 300;
	line-height: 24px;
	text-align: center;
	}